
<p>component.html works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Virtual Machines</title>
</head>
<body>

<div>
  <h3>Manage Virtual Machines</h3>
</div>

<div class="menuSection">
  <nav>
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/create" routerLinkActive="active">Create</a>
    <a class="nav-link" routerLink="/delete" routerLinkActive="active">Delete</a>
    <a class="nav-link" routerLink="/About" routerLinkActive="active">About Us</a>
  </nav>
</div>

</body>

<app-main>main to app component html...</app-main>

  <!--<li *ngFor="let student of students">{{student}}</li> -->
</html>

